# Keep your earthdata credentials private
fetchOrbit.py

# Hide input and processing files
*.SAFE
*.SAFE/
*.zip
*.EOF
*.log
offsets/dem/*
!offsets/dem/.gitkeep

data/shapefiles/*
!data/shapefiles/.gitkeep

# Ignore processing outpus
20*-20*/
*.nc

# Hidden folders
.ipynb_checkpoints/
__pycache__/
.copernicus_dataspace_token
.virtual_documents/
